<div class="container text-center custom-container">
    <div class="cards-container">
        <div class="card">
            <img class="card-img-top" src="assets/platos/arroz-con-pollo.jpg" alt="arroz con pollo">
            <div class="card-body">
                <h5 class="card-title bg-danger text-white">ARROZ CON POLLO</h5>
                <p class="card-text">Papa francesa, yuca y patacón.</p>
                <p class="card-text">$ 18.500</p>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="assets/platos/arroz-con-pollo.jpg" alt="arroz con pollo">
            <div class="card-body">
                <h5 class="card-title bg-danger text-white">ARROZ CON POLLO</h5>
                <p class="card-text">Papa francesa, yuca y patacón.</p>
                <p class="card-text">$ 18.500</p>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="assets/platos/arroz-con-pollo.jpg" alt="arroz con pollo">
            <div class="card-body">
                <h5 class="card-title bg-danger text-white">ARROZ CON POLLO</h5>
                <p class="card-text">Papa francesa, yuca y patacón.</p>
                <p class="card-text">$ 18.500</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/platos/arroz-con-pollo.jpg" alt="arroz con pollo">
            <div class="card-body">
                <h5 class="card-title bg-danger text-white">ARROZ CON POLLO</h5>
                <p class="card-text">Papa francesa, yuca y patacón.</p>
                <p class="card-text">$ 18.500</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/platos/arroz-con-pollo.jpg" alt="arroz con pollo">
            <div class="card-body">
                <h5 class="card-title bg-danger text-white">ARROZ CON POLLO</h5>
                <p class="card-text">Papa francesa, yuca y patacón.</p>
                <p class="card-text">$ 18.500</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/platos/arroz-con-pollo.jpg" alt="arroz con pollo">
            <div class="card-body">
                <h5 class="card-title bg-danger text-white">ARROZ CON POLLO</h5>
                <p class="card-text">Papa francesa, yuca y patacón.</p>
                <p class="card-text">$ 18.500</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/platos/arroz-con-pollo.jpg" alt="arroz con pollo">
            <div class="card-body">
                <h5 class="card-title bg-danger text-white">ARROZ CON POLLO</h5>
                <p class="card-text">Papa francesa, yuca y patacón.</p>
                <p class="card-text">$ 18.500</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/platos/arroz-con-pollo.jpg" alt="arroz con pollo">
            <div class="card-body">
                <h5 class="card-title bg-danger text-white">ARROZ CON POLLO</h5>
                <p class="card-text">Papa francesa, yuca y patacón.</p>
                <p class="card-text">$ 18.500</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/platos/arroz-con-pollo.jpg" alt="arroz con pollo">
            <div class="card-body">
                <h5 class="card-title bg-danger text-white">ARROZ CON POLLO</h5>
                <p class="card-text">Papa francesa, yuca y patacón.</p>
                <p class="card-text">$ 18.500</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/platos/arroz-con-pollo.jpg" alt="arroz con pollo">
            <div class="card-body">
                <h5 class="card-title bg-danger text-white">ARROZ CON POLLO</h5>
                <p class="card-text">Papa francesa, yuca y patacón.</p>
                <p class="card-text">$ 18.500</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/platos/arroz-con-pollo.jpg" alt="arroz con pollo">
            <div class="card-body">
                <h5 class="card-title bg-danger text-white">ARROZ CON POLLO</h5>
                <p class="card-text">Papa francesa, yuca y patacón.</p>
                <p class="card-text">$ 18.500</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/platos/arroz-con-pollo.jpg" alt="arroz con pollo">
            <div class="card-body">
                <h5 class="card-title bg-danger text-white">ARROZ CON POLLO</h5>
                <p class="card-text">Papa francesa, yuca y patacón.</p>
                <p class="card-text">$ 18.500</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/platos/arroz-con-pollo.jpg" alt="arroz con pollo">
            <div class="card-body">
                <h5 class="card-title bg-danger text-white">ARROZ CON POLLO</h5>
                <p class="card-text">Papa francesa, yuca y patacón.</p>
                <p class="card-text">$ 18.500</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/platos/arroz-con-pollo.jpg" alt="arroz con pollo">
            <div class="card-body">
                <h5 class="card-title bg-danger text-white">ARROZ CON POLLO</h5>
                <p class="card-text">Papa francesa, yuca y patacón.</p>
                <p class="card-text">$ 18.500</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/platos/arroz-con-pollo.jpg" alt="arroz con pollo">
            <div class="card-body">
                <h5 class="card-title bg-danger text-white">ARROZ CON POLLO</h5>
                <p class="card-text">Papa francesa, yuca y patacón.</p>
                <p class="card-text">$ 18.500</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/platos/arroz-con-pollo.jpg" alt="arroz con pollo">
            <div class="card-body">
                <h5 class="card-title bg-danger text-white">ARROZ CON POLLO</h5>
                <p class="card-text">Papa francesa, yuca y patacón.</p>
                <p class="card-text">$ 18.500</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/platos/arroz-con-pollo.jpg" alt="arroz con pollo">
            <div class="card-body">
                <h5 class="card-title bg-danger text-white">ARROZ CON POLLO</h5>
                <p class="card-text">Papa francesa, yuca y patacón.</p>
                <p class="card-text">$ 18.500</p>
            </div>
        </div>

    </div>
</div>