.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Sombra fija */
    transition: box-shadow 0.3s ease;
    /* Agrega una transición suave a la sombra */
}

.card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    /* Sombra más intensa al hacer hover */
}