.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves para transform y box-shadow */
  }

  .card:hover {
    transform: scale(1.05); /* Efecto de zoom al hacer hover */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); /* Sombra más intensa al hacer hover */
  }

  